:root{
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}
.thing{
    background-color: whitesmoke;
    width: 400px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left:30% ;
    padding-left: 80px;
}
.thing h3{
    font-size: 32px;
    
}
.thing h3 span{
    color: #9333ea;
}
body{
    font-family: 'pacifico',sans-serif;
    background-color: #1f2937;
}
header{
    background-color: #1f2937;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
}
header h1{
    color: #9333ea;
}
header ul li{
    list-style: none;

}
header ul{
    display: flex;
    align-items: center;
    
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
header ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: large;
    padding: 15px;
    transition: 0.3s;
    border: 2px solid transparent;
    display: inline;
}
header ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}
.input{
    display: grid;
    width: 30px;
    
}
.input input{
    height: 20px;
    margin-bottom: 20px;
}
